<div class="header-wrapper">
    <div class="header">
        
        <%= image_tag 'amazon_logo.png', alt: "amazon_logo", id: "a_logo" %>
        
        <div id = "text1">
            <%= link_to 'Deliver to', "#", id: "loc" %>
            <p id="icon">
                <i class="fa-solid fa-location-dot"></i>
                <span id="Ind">India</span>
            </p>
        </div>
                    <!-- Search form -->
    <div class="search-sec">

            <%= form_with url: products_path, method: :get do |form|%>
                <div class="search">
                    <%= form.select :product, options_for_select(["All"]), class: "drop-down", id: "d-d" %>
                    <%= form.text_field :search, placeholder: "Search Amazon", class: "input-box" %>
                    <button type="submit" class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            <% end %>
    </div>


    <div class="lng">
            <%= image_tag 'f-icon.png', id: "f-icon" %>
            <p id="en">EN</p>
    </div>

        <div class="s-L">
            <%#= link_to login_path, class: "s-rend" do %>
                <div class="s-in">
                    <%#= render 'sessions/form' %>
                    
                    <%= link_to "Hello,Sign In", login_path, class: "s-rend" %>
                    <%#= render 'devise/sessions/new' %>
                    <span id="A-l">Accounts & Lists</span>
                </div>
            <%# end %>
        </div>

        <div class="return">
            <%= link_to 'Returns', "#", id: "ret" %>
            <%= link_to '& Orders', "#", id: "ord" %>
        </div>
        
        <div class="cart">
            <%#= link_to image_tag()'text', path %>
            <i class="fa-solid fa-cart-shopping" id="c-i"></i>
            <%= link_to "Cart(#{@cart_count ||= 0})", cart_path, id: "cart" %>
        </div>
    </div>
    <div class="panel">
        <div class="menu">
            <%= link_to "#", class:"Menu-link" do %>
                <div class="render"></div>
                <i class="fa-solid fa-bars"></i>
                <span id = "m-all">All</span>  
            <% end %>
        </div>

        <div class="panel-opts">
            <%= link_to 'Todays Deal', "#", class: "opts"%>
            <%= link_to 'Customer Service', "#", class: "opts"%>
            <%= link_to 'Registry', "#", class: "opts" %>
            <%= link_to 'Gift cards', "#", class: "opts" %>
            <%= link_to 'Sell', "#", class: "opts" %>
        </div>
    </div> 
</div>



<!-- Hero Section-->
<div class="hero-section">
    <%= image_tag 'hero1.jpg' %>
    <div class="hero-msg">
        <p id = "h-msg"> You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery. </p>
        <%= link_to 'Click here to go to amazon.in', "#", id: "h-click" %>
    </div>

</div>

<!-- Products Section -->
<div class="product-section">
    <div class="row1 row">
        <div class="product1 products">
            <%= link_to office_product_path, class:" o-p-link" do %>
                <h3>New year, new supplies</h3>
                <div class = "p1-img-b">
                    <%= image_tag 'office-p.jpg', class: "p1-img"%>
                </div>
                <span class = "bottom-link"> Shop office products </span>
            <% end %>
        </div>

        <div class="product2">
            <h3>Refresh your space</h3>
            <div class="p2-sec1 temp">
                <div class="p2-img">
                    <%= image_tag 'Dining.jpg', class: "product img" %>
                    <p>Dining</p>
                </div>
                <div class="p2-img">
                    <%= image_tag 'H.jpg', class: "product img" %>
                    <p>Home</p>
                </div>
            </div>

            <div class="p2-sec2 temp">
                <div class="p2-img">
                    <%= image_tag 'k.jpg', class: "product img" %>
                    <p>Kitchen</p>
                </div>
                <div class="p2-img">
                    <%= image_tag 'h&b.jpg', class: "product  img" %>
                    <p>Health & beauty</p>
                </div>
            </div>

        </div>
        <div class="product3 products">
            <h3>Shop for your home essentials</h3>
            <div class="img1">
                <%= image_tag 'CleaningTools.jpg', class: "product img " %>
                <p>Cleaning Tools</p>
            </div>
            <div>
                <%= image_tag 'HomeStorage.jpg', class: "product img " %>
                <p>Home Storage</p>
            </div>
            <div>
                <%= image_tag 'HomeDecor.jpg', class: "product img" %>
                <p>Home Decor</p>
            </div>
            
            <div>
                <%= image_tag 'Bedding.jpg', class: "product  img" %>
                <p>Bedding</p>
            </div>
        </div>
        <div class="product4 products">
            <h3>Toys under $25</h3>
            <div class="toy">
                <%= image_tag 'Toy.jpg', id: "toy" %>
            </div>
        </div>
    </div>

    <div class="row2 row">
          <div class="product1 products">
            <h3>New home arrivals under $50</h3>
            <div class="img1">
                <%= image_tag 'kitchen.jpg', class: "product img" %>
                <p>kitchen & dining</p>
            </div>
            <div>
                <%= image_tag 'h-i.jpg', class: "product img" %>
                <p>Home improvement</p>
            </div>
            <div>
                <%= image_tag 'decor.jpg', class: "product img" %>
                <p>Decor</p>
            </div>
            <div>
                <%= image_tag 'pillow.jpg', class: "product  img" %>
                <p>Bedding & bath</p>
            </div>
        </div>
        <div class="product2 products">
            <h3>Refresh your space</h3>
            <div class="img1">
                <%= image_tag 'Dining.jpg', class: "product img" %>
                <p>Dining</p>
            </div>
            <div>
                <%= image_tag 'H.jpg', class: "product img" %>
                <p>Home</p>
            </div>
            <div>
                <%= image_tag 'k.jpg', class: "product img" %>
                <p>Kitchen</p>
            </div>
            <div>
                <%= image_tag 'h&b.jpg', class: "product  img" %>
                <p>Health & beauty</p>
            </div>
        </div>
        <div class="product3 products">
            <h3>Shop for your home essentials</h3>
            <div class="img1">
                <%= image_tag 'CleaningTools.jpg', class: "product img" %>
                <p>Cleaning Tools</p>
            </div>
            <div>
                <%= image_tag 'HomeStorage.jpg', class: "product img" %>
                <p>Home Storage</p>
            </div>
            <div>
                <%= image_tag 'HomeDecor.jpg', class: "product img" %>
                <p>Home Decor</p>
            </div>
            <div>
                <%= image_tag 'Bedding.jpg', class: "product  img" %>
                <p>Bedding</p>
            </div>
        </div>
        <div class="product4 products">
            <h3>Toys under $25</h3>
            <div class="toy">
                <%= image_tag 'Toy.jpg', id: "toy" %>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Footer Section-->

<footer>
    <div class="foot-panel1">
        <p>Back to top</p>
    </div>

    <div class="foot-panel2">
        <div class="column">
            <div class="col1 c">
                <div class="footer-col">
                    Get to Know Us
                </div>
                <div class="line">
                    <a>Blog</a>
                    <br/>
                    <a>About Amazon</a>
                    <br/>
                    <a>Investor Relations</a>
                    <br/>
                    <a>Amazon Devices</a>
                    <br/>
                    <a>Amazon Science</a>
                    <br/>
                </div>

            </div>
            <div class="col2 c">
                <div class="footer-col">
                    Make Money with Us
                </div>
                <div class="line">
                    <a>
                        Sell products on Amazon  
                    </a>
                    <br/>

                    <a>
                        Sell on Amazon Business
                    </a>
                    <br/>

                    <a>
                        Sell apps on Amazon
                    </a>
                    <br/>

                    <a>
                        Become an Affiliate
                    </a>
                    <br/>

                    <a>
                        Advertise Your Products
                    </a>
                    <br/>

                    <a>
                        Self-Publish with Us
                    </a>
                    <br/>

                    <a>
                        Host an Amazon Hub
                    </a>
                    <br/>

                    <a>
                        See More Make Money with Us
                    </a>
                    <br/>
                </div>
            </div>
            <div class="col3 c">
                <div class="footer-col">
                    Amazon Payment Products
                </div>

                <div class="line">
                    <a>
                        Amazon Business Card
                    </a>
                    <br/>

                    <a>
                        Shop with Points
                    </a>
                    <br/>

                    <a>
                        Reload Your Balance
                    </a>
                    <br/>

                    <a>
                        Amazon Currency Converter
                    </a>
                    <br/>

                </div>
            </div>
            <div class="col4 c">
            <div class="footer-col">
                Let Us Help You
            </div>

            <div class="line">
                <a>            
                    Amazon and COVID-19
                </a>
                <br/>

                <a>
                    Your Account
                </a>
                <br/>

                <a>
                    Your Orders
                </a>
                <br/>

                <a>
                    Shipping Rates & Policies
                </a>
                <br/>

                <a>
                    Returns & Replacements
                </a>
                <br/>

                <a>
                    Manage Your Content and Devices
                </a>
                <br/>

                <a>
                    Help
                </a>
                <br/>

            </div>
        </div>
    </div>
    </div>
    <!-- <hr/> -->
    <div class="foot-panel3">
        <span class = "logo-base">
            <div style="background-image: url('amazon_logo.png');">
            </div>
        </span>
        <a class = "button1 button">
            <div class = icon1><i class="fa-solid fa-globe"></i></div>
            <span>English</span>
        </a>
        <a class = "button2 button">
            <div class = icon2><i class="fa-solid fa-dollar-sign"></i></div>
            <span>USD - U.S.Doller</span>
        </a>
        <a class = "button3 button">
            <div class = icon3><i class="fa-solid fa-flag-usa"></i></div>
            <span>United States</span>
        </a>
    </div>

    <div class="foot-panel4">

    </div>
    <div class="foot-panel5">
        <div class="footer-base">
            <div class="line1">
                <a href = "#">Conditions of Use</a>
                <a href = "#">Privacy Notice</a>
                <a href = "#">Consumer Health Data Privacy Disclosure</a>
                <a href = "#">Your Adds Privacy Choices
                    <span><i class="fa-regular fa-square-check"></i></span>
                </a>
            </div>
            <div class="line2">
                <span>
                    <i class="fa-regular fa-copyright"></i>
                </span>
                <p>1996-2025, Amazon.com, Inc.or its affiliates</p>
                
            </div>

        </div>
    </div>
</footer>


