<div class="p1-header">
    <span> 1-48 of over 100,000 results for </span>
    <span id = "txt"> "school supplies" </span>
</div>

<div class="product-row1">
    <div class="pen item">
        <%= link_to "#",class:"first" do %>
            <div class="im">
                <%= image_tag 'gel-pen.jpg', id: "gel-pen" %>
            </div>
        <% end %>
        <div class="c-outer"> 
            <div class="color-box">
                <div id = "c-1 c"><i class="fa-solid fa-circle"></i></div>
                <div id = "c-2 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-3 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-4 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-5 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-6 c"> <i class="fa-solid fa-circle"></i></div>
            </div>
        </div>
        <%= link_to 'Ddaowanx Gel Pens, 6 Pcs 0.5mm Quick Dry Black Ink Pens Fine Point Smooth Writing Pens, Cute Office School Supplies Gifts for Women', "#", class: "description" %>
        <span class="stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-angle-down arrow"></i>
            <span class="ratings">

            </span>
        </span>

        <%= link_to 'See options', "#", id: "see-opts" %>
   </div>

   <div class="chair item">
        <%= link_to "#",class:"first" do %>
            <div class="im">
                <%= image_tag 'chair.webp', id: "gel-pen" %>
            </div>
        <% end %>
        <div class="c-outer"> 
            <div class="color-box">
                <div id = "c-1 c"><i class="fa-solid fa-circle"></i></div>
                <div id = "c-2 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-3 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-4 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-5 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-6 c"> <i class="fa-solid fa-circle"></i></div>
            </div>
        </div>
        <%= link_to 'Ergonomic Office Chair, Comfy Mesh Computer Desk Chair, Mesh Back Adjustable Lumbar Support, Tilt Function,Flip-up Armrests, Swivel Home Office Chair', "#", class: "description" %>
        <span class="stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-angle-down arrow"></i>
            <span class="ratings">

            </span>
        </span>

        <%= link_to 'See options', "#", id: "see-opts" %>
   </div>

   <div class="mouse item">
        <%= link_to "#",class:"first" do %>
            <div class="im">
                <%= image_tag 'dual_mouse.webp', id: "gel-pen" %>
            </div>
        <% end %>
        <div class="c-outer"> 
            <div class="color-box">
                <div id = "c-1 c"><i class="fa-solid fa-circle"></i></div>
                <div id = "c-2 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-3 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-4 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-5 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-6 c"> <i class="fa-solid fa-circle"></i></div>
            </div>
        </div>
        <%= link_to 'K KNODEL Mouse Pad Waterproof Desk Mat for Desktop, Leather Desk Pad Protector for Keyboard and Mouse, Office and Home.', "#", class: "description" %>
        <span class="stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-angle-down arrow"></i>
            <span class="ratings">

            </span>
        </span>

        <%= link_to 'See options', "#", id: "see-opts" %>
   </div>

   <div class="pen item">
        <%= link_to "#",class:"first" do %>
            <div class="im">
                <%= image_tag 'printer.webp', id: "gel-pen" %>
            </div>
        <% end %>
        <div class="c-outer"> 
            <div class="color-box">
                <div id = "c-1 c"><i class="fa-solid fa-circle"></i></div>
                <div id = "c-2 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-3 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-4 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-5 c"> <i class="fa-solid fa-circle"></i></div>
                <div id = "c-6 c"> <i class="fa-solid fa-circle"></i></div>
            </div>
        </div>
        <%= link_to 'HP OfficeJet Pro 9125e All-in-One Printer, Color, Printer-for-Small Medium Business, Print, Copy, scan, fax,Touchscreen; Smart Advance Scan, 3 months of Instant Ink included', "#", class: "description" %>
        <span class="stars">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-angle-down arrow"></i>
            <span class="ratings">

            </span>
        </span>

        <%= link_to 'See options', "#", id: "see-opts" %>
   </div>
</div>