<div class="cart-item">
  <span><%=  item.product.name %></span>
  <span class = "c-i"><%=  item.quantity %></span>
  <span>₹<%= item.product.price %></span>
  <span>₹<%= item.product.price * item.quantity %></span>
  <span>
    <%= button_to "Remove", cart_item_path(item), method: :delete, data: { turbo_method: :delete },  class: "btn-rem" %>
  </span>
</div >